FORMS.json
[{"id":"70aa912f.444fa","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"c0faa6b.98f6958","type":"ibmiot in","z":"70aa912f.444fa","authentication":"apiKey","apiKey":"a2312e2.a7e43d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":160,"wires":[["640ed716.0467e8","b36152a.e8c40b","eda8ad70.7abf4"]]},{"id":"4542c070.3e30a","type":"debug","z":"70aa912f.444fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":140,"wires":[]},{"id":"640ed716.0467e8","type":"function","z":"70aa912f.444fa","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nreturn  {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["4542c070.3e30a","7bb5bd9d.e40704"]]},{"id":"b36152a.e8c40b","type":"function","z":"70aa912f.444fa","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["4542c070.3e30a","9f61108a.94ff5"]]},{"id":"eda8ad70.7abf4","type":"function","z":"70aa912f.444fa","name":"ObjectTemp","func":"global.set('objtemp',msg.payload.d.objectTemp)\nreturn {payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["4542c070.3e30a","2f3dea3e.4c91d6"]]},{"id":"7bb5bd9d.e40704","type":"ui_gauge","z":"70aa912f.444fa","name":"","group":"60920ca5.53a1b4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":260,"wires":[]},{"id":"9f61108a.94ff5","type":"ui_gauge","z":"70aa912f.444fa","name":"","group":"60920ca5.53a1b4","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":340,"wires":[]},{"id":"2f3dea3e.4c91d6","type":"ui_gauge","z":"70aa912f.444fa","name":"","group":"60920ca5.53a1b4","order":2,"width":0,"height":0,"gtype":"gage","title":"ObjectTemperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":420,"wires":[]},{"id":"5c99dd69.e1c6a4","type":"http in","z":"70aa912f.444fa","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":210,"y":420,"wires":[["e6620237.6b70f"]]},{"id":"a27ec7eb.078608","type":"http response","z":"70aa912f.444fa","name":"","statusCode":"","headers":{},"x":400,"y":480,"wires":[]},{"id":"e6620237.6b70f","type":"function","z":"70aa912f.444fa","name":"","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity'),\"objtemp\":global.get('objtemp')}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":520,"wires":[["a27ec7eb.078608"]]},{"id":"5febb8d9.35ee38","type":"ui_button","z":"70aa912f.444fa","name":"","group":"60920ca5.53a1b4","order":3,"width":0,"height":0,"passthru":false,"label":"Light Onn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"command\":\"loghton","payloadType":"str","topic":"","x":330,"y":40,"wires":[["4b30c27e.d85e0c"]]},{"id":"7ce4809.92c538","type":"ui_button","z":"70aa912f.444fa","name":"","group":"60920ca5.53a1b4","order":4,"width":0,"height":0,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"command\":\"lightoff\"","payloadType":"str","topic":"","x":390,"y":100,"wires":[["4b30c27e.d85e0c"]]},{"id":"4b30c27e.d85e0c","type":"debug","z":"70aa912f.444fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":60,"wires":[]},{"id":"ddab826.627448","type":"http in","z":"70aa912f.444fa","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":430,"y":600,"wires":[["26107f11.6fa5b"]]},{"id":"a3804b2f.e0ec08","type":"http response","z":"70aa912f.444fa","name":"","statusCode":"","headers":{},"x":680,"y":700,"wires":[]},{"id":"26107f11.6fa5b","type":"function","z":"70aa912f.444fa","name":"","func":"msg.payload=msg.payload.command\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":680,"wires":[["a3804b2f.e0ec08","b77c0d51.5b502","6c9c6a1b.0d0024"]]},{"id":"6c9c6a1b.0d0024","type":"debug","z":"70aa912f.444fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":580,"wires":[]},{"id":"b77c0d51.5b502","type":"ibmiot out","z":"70aa912f.444fa","authentication":"apiKey","apiKey":"a2312e2.a7e43d","outputType":"cmd","deviceId":"12345","deviceType":"nodemcu","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":660,"wires":[]},{"id":"a2312e2.a7e43d","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"kwh61y.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"60920ca5.53a1b4","type":"ui_group","z":"","name":"Form","tab":"ee5ce0fc.3529e","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee5ce0fc.3529e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":6,"disabled":false,"hidden":false}]