Forms.json
[{"id":"ed7295ca.ee6fc8","type":"tab","label":"registratio login cloudant","disabled":false,"info":""},{"id":"5145efda.8b76f","type":"ui_form","z":"ed7295ca.ee6fc8","name":"","label":"","group":"215eed10.cee362","order":1,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null},{"label":"Enter College Name","value":"clg","type":"text","required":true,"rows":null},{"label":"Enter Passing Year","value":"year","type":"number","required":true,"rows":null},{"label":"Enter Phone Number","value":"number","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","password":"","clg":"","year":"","number":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":150,"y":60,"wires":[["dc3d15b.2a457e8","1511af0f.4287a1"]]},{"id":"dc3d15b.2a457e8","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"msg.payload = {\n    _id : msg.payload.email,\n    NAME : msg.payload.name,\n    EMAIL : msg.payload.email,\n    PASSWORD : msg.payload.password,\n    COLLEGE : msg.payload.clg,\n    PASS_YEAR : msg.payload.year,\n    PHONE_NUM : msg.payload.number\n}    \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["563e466f.d0b3e8","f1fa95f0.5eec18"]]},{"id":"563e466f.d0b3e8","type":"debug","z":"ed7295ca.ee6fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":20,"wires":[]},{"id":"1511af0f.4287a1","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"msg.payload = \"Registration Successfull \"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["3dccd22.550712e"]]},{"id":"3dccd22.550712e","type":"ui_text","z":"ed7295ca.ee6fc8","group":"215eed10.cee362","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":200,"wires":[]},{"id":"970651e4.39e5b","type":"ui_form","z":"ed7295ca.ee6fc8","name":"","label":"","group":"46726822.f8fd58","order":1,"width":0,"height":0,"options":[{"label":"Enter Email ","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":130,"y":360,"wires":[["d75e1e72.7de75"]]},{"id":"d75e1e72.7de75","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"global.set('email',msg.payload.email);\nglobal.set('password',msg.payload.password);\n\nvar email = global.get('email')\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["817f78f2.f995d8"]]},{"id":"817f78f2.f995d8","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"var email = global.get('email')\nmsg.payload = {\n    \n      \"_id\": email\n    \n}    \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["3aba0f2f.c3a88"]]},{"id":"1050e68d.d30589","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"var password = global.get('password')\nif(msg.payload.PASSWORD==password)\nmsg.payload  = \"Login Successful.Go to Apply tab\"\nelse \nmsg.payload = \"Login Unsuccessful. Please try again with correct credentials.\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["c92413ef.93839"]]},{"id":"34b2f40c.dcfc4c","type":"debug","z":"ed7295ca.ee6fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":360,"wires":[]},{"id":"c92413ef.93839","type":"ui_text","z":"ed7295ca.ee6fc8","group":"46726822.f8fd58","order":2,"width":0,"height":0,"name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":420,"wires":[]},{"id":"3aba0f2f.c3a88","type":"cloudant in","z":"ed7295ca.ee6fc8","name":"","cloudant":"","database":"applicant","service":"node-red-mufzf-cloudant-1590470980381-29317","search":"_id_","design":"","index":"","x":500,"y":420,"wires":[["1050e68d.d30589","34b2f40c.dcfc4c","469364fe.f613dc"]]},{"id":"f1fa95f0.5eec18","type":"cloudant out","z":"ed7295ca.ee6fc8","name":"","cloudant":"","database":"applicant","service":"node-red-mufzf-cloudant-1590470980381-29317","payonly":true,"operation":"insert","x":580,"y":140,"wires":[]},{"id":"469364fe.f613dc","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"var password = global.get('password')\nif(msg.payload.PASSWORD==password)\nmsg.payload  = \"Login Successful! Apply Now!!\"\nelse \nmsg.payload = \"Please Login first then Apply\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["5e3631af.e348b"]]},{"id":"5e3631af.e348b","type":"ui_text","z":"ed7295ca.ee6fc8","group":"adc0777c.0bed48","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":810,"y":500,"wires":[]},{"id":"52a04f72.953d3","type":"ui_form","z":"ed7295ca.ee6fc8","name":"","label":"","group":"adc0777c.0bed48","order":4,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Experiece","value":"exp","type":"number","required":true,"rows":null},{"label":"Overall Percentage in Masters","value":"Mpg","type":"number","required":true,"rows":null},{"label":"Overall Percentage in Bachelors","value":"Mg","type":"number","required":true,"rows":null},{"label":"Overall Percentage in 12th","value":"M12","type":"number","required":true,"rows":null},{"label":"Overall Percentage in 10th","value":"M10","type":"number","required":true,"rows":null},{"label":"LinkedIn Id","value":"linkedin","type":"text","required":false,"rows":null},{"label":"PowerBI","value":"pbi","type":"checkbox","required":false,"rows":null},{"label":"Tableau","value":"tb","type":"checkbox","required":false,"rows":null},{"label":"Microsoft Excel","value":"excel","type":"checkbox","required":false,"rows":null},{"label":"Plotly","value":"plotly","type":"checkbox","required":false,"rows":null},{"label":"Dash","value":"dash","type":"checkbox","required":false,"rows":null},{"label":"MySQL","value":"mysql","type":"checkbox","required":false,"rows":null},{"label":"Microsoft SQL Server","value":"sqlserver","type":"checkbox","required":false,"rows":null},{"label":"Oracle","value":"oracle","type":"checkbox","required":false,"rows":null},{"label":"Postgresql","value":"postgre","type":"checkbox","required":false,"rows":null},{"label":"CouchDB","value":"couch","type":"checkbox","required":false,"rows":null},{"label":"MongoDB","value":"mongo","type":"checkbox","required":false,"rows":null},{"label":"Redis","value":"redis","type":"checkbox","required":false,"rows":null},{"label":"Casandra","value":"casandra","type":"checkbox","required":false,"rows":null},{"label":"Python","value":"py","type":"checkbox","required":false,"rows":null},{"label":"R","value":"r","type":"checkbox","required":false,"rows":null},{"label":"Java","value":"java","type":"checkbox","required":false,"rows":null},{"label":"Julia ","value":"julia","type":"checkbox","required":false,"rows":null},{"label":"Scala","value":"sc","type":"checkbox","required":false,"rows":null},{"label":"Apache Haddop","value":"hadoop","type":"checkbox","required":false,"rows":null},{"label":"Apache Spark","value":"spark","type":"checkbox","required":false,"rows":null},{"label":"Apache Storm","value":"storm","type":"checkbox","required":false,"rows":null},{"label":"Ceph","value":"ceph","type":"checkbox","required":false,"rows":null},{"label":"Hydra","value":"hydra","type":"checkbox","required":false,"rows":null}],"formValue":{"email":"","exp":"","Mpg":"","Mg":"","M12":"","M10":"","linkedin":"","pbi":false,"tb":false,"excel":false,"plotly":false,"dash":false,"mysql":false,"sqlserver":false,"oracle":false,"postgre":false,"couch":false,"mongo":false,"redis":false,"casandra":false,"py":false,"r":false,"java":false,"julia":false,"sc":false,"hadoop":false,"spark":false,"storm":false,"ceph":false,"hydra":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":600,"wires":[["95addc64.ad7a3","985929e4.928498"]]},{"id":"985929e4.928498","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"msg.payload = {\n    _id : msg.payload.email,\n    email : msg.payload.email,\n    experience : msg.payload.exp,\n    analytic_tools : [ \n        {\n            tableau : msg.payload.tb,\n            powerbi :msg.payload.pbi,\n            msexcel :msg.payload.excel,\n            plotly :msg.payload.plotly,\n            dash :msg.payload.dash\n        }\n    ], \n    languages : [\n        {\n            python :msg.payload.py,\n            r :msg.payload.r,\n            julia :msg.payload.julia,\n            java :msg.payload.java,\n            scala :msg.payload.sc\n        }\n    ],\n    BDA_tools :[\n        {\n            hadoop :msg.payload.hadoop,\n            spark :msg.payload.spark,\n            storm :msg.payload.storm,\n            ceph :msg.payload.ceph,\n            hydra :msg.payload.hydra\n        }\n    ],\n    SQL_DB:[\n        {\n            mysql :msg.payload.mysql,\n            mssqlserver :msg.payload.sqlserver,\n            postgresql :msg.payload.postgre,\n            oracle :msg.payload.oracle,\n            couchdb :msg.payload.couch\n        }\n    ],\n    NO_SQL_DB:[\n        {\n            mongodb :msg.payload.mongo,\n            redis :msg.payload.redis,\n            casandra :msg.payload.casandra\n        }\n    ]\n}    \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["562f5c5c.33cb84","49791507.b6b47c"]]},{"id":"49791507.b6b47c","type":"debug","z":"ed7295ca.ee6fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":560,"wires":[]},{"id":"f1a347e4.1e90a8","type":"ui_text","z":"ed7295ca.ee6fc8","group":"adc0777c.0bed48","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":720,"wires":[]},{"id":"562f5c5c.33cb84","type":"cloudant out","z":"ed7295ca.ee6fc8","name":"","cloudant":"","database":"trial","service":"node-red-mufzf-cloudant-1590470980381-29317","payonly":true,"operation":"insert","x":600,"y":640,"wires":[]},{"id":"95addc64.ad7a3","type":"function","z":"ed7295ca.ee6fc8","name":"","func":"msg.payload = \"you have successfully applied ! All the best!!\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["f1a347e4.1e90a8"]]},{"id":"215eed10.cee362","type":"ui_group","z":"","name":"Form","tab":"1a57f84e.db94e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"46726822.f8fd58","type":"ui_group","z":"","name":"form","tab":"6c77924a.ef498c","order":7,"disp":true,"width":"6","collapse":false},{"id":"adc0777c.0bed48","type":"ui_group","z":"","name":"form","tab":"1f27eb6b.2b9c85","order":4,"disp":true,"width":"6","collapse":false},{"id":"1a57f84e.db94e8","type":"ui_tab","z":"","name":"Registration2","icon":"dashboard","order":14,"disabled":false,"hidden":false},{"id":"6c77924a.ef498c","type":"ui_tab","z":"","name":"LogIn","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f27eb6b.2b9c85","type":"ui_tab","z":"","name":"Apply","icon":"dashboard","disabled":false,"hidden":false}]